{% extends "base.jinja.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}
{% block content %}
<h3>圖表-1</h3>
<div id="chart" class="chart" style="max-width:1200;overflow:auto"></div>

<script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
<script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    Plotly.newPlot(chart, graphs, {});   
</script>
{% endblock %}